.ova2-header {
    .header-logo {
        width: 100%;
        border-radius: 10px;
    }

    .navigation .navbar-toggler {
        width: 20%;
    }

    .navigation {
        .navbar-brand {
            width: 72px;
        }
    }
}